doctype html
html(xmlns='http://www.w3.org/1999/xhtml', lang='es')
	include includes/head
	include includes/body
	body
		include includes/header
		.wrapper_main
			.main
				.row2
					.menu
						.bs-grid Menú
					.content
						.row2
							.photo
								.bs-grid Foto
							.text
								.bs-grid Texto
						.row2
							.prominent.prominent-long
								.bs-grid Destacado largo
							.prominent
								.bs-grid Destacado
							.prominent
								.bs-grid Destacado
		include includes/footer
		include includes/scripts